body{
  margin: 0;
  background: #0f172a;
  color:#e2e8f0;
}

.homePage,
 div{
  padding: 5px;
}

h1{
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 5px;
  color:#38bdf8;
}

form{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

input, select{
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #334155;
  color:black;
  outline: none;
}

button{
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  background: #38bdf8;
  color:#0f172a;
  font-weight: 600;
  cursor: pointer;
}

button:hover{
  background: #0ea5e9;
}

ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background: #334155;
}


.done{
  text-decoration: line-through;
  color: #94a3b8;
}

.taskItem span{
  display: flex;
  gap: 10px;
  align-items: center;
}

.taskItem:first-child{
  font-weight: 600;
}

.taskItem button{
  background: #22c55e;
  color: #e2e8f0;
  padding: 5px;
}

.taskItem button:hover{
  background: #16a34a;
}

.homePage{
  display:flex;
  justify-content: center;
  margin-top: 5px;
}

.signLog-btn{
  display: flex;
  justify-content: center;
  gap:10px;
  margin-top: 20px;
}



